<!DOCTYPE html>
<html>
  <head>
    <title>HealthTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="pre-container">
      <%= yield :pre_container %>
    </div>
    <main class="container-fluid">
      <%= render  "shared/flash_message" %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
